
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #636060;
  border-radius: 32px;
  height: 70px;
}

ul li {
  float: left;
  padding: 14px 16px;
}

ul li a {
  display: block;
  color: rgb(228, 222, 222);
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding-left: 12px;
}

ul li a:hover {
  background-color: #746b6b;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: auto;
  width: auto;
  text-align: center;
}